<p>Hi {{mentor}},</p>
<p>{{mentee}} has booked an appointment with you.</p>
<p>Appointment Details:</p>
{{! <ul> }}
{{!-- <li><strong>Note:</strong> {{note}}</li> --}}
{{!-- <li><strong>Start Time:</strong> {{start}}</li> --}}
{{!-- <li><strong>End Time:</strong> {{end}}</li> --}}
{{! </ul> }}
<p>Thank you for your commitment to mentoring!</p>