<p>Dear <strong>{{mentee}},</strong></p>

<p>{{mentor}}
  has canceled of a your requested appointment. Here are the details:</p>
<ul>
  <li><strong>Session Time:</strong> {{start_at}} to {{end_at}}</li>
  <li><strong>Note:</strong> {{note}}</li>
  <li><strong>Subject:</strong> {{expertise}}</li>
</ul>

<p>For more detailed information you can always return to our website. If you
  have any questions or concerns, feel free to reach out.</p>
<p>Thank you for your commitment to our community!</p>
<p>Cheers! From IT-Mentor Community</p>